# A very, very brief introduction to Python

## Content

* Datatypes and variables
* Logical operators and expressions
* Collections of elements - iterables
* For and while loops
* If, else and elif sentences
* Functions


All exercises on the form $X.Y$ can be found in the digital book [*Automate the boring stuff*](https://automatetheboringstuff.com/#toc), where $X$ is the chapter and $Y$ the exercise number.

### Datatypes and variables

In [10]:

a = "Hello"
b = 4.0
c = int(b)
type(c)
d = str(b)
False == 0

True

Exercises: $1.3, 1.6, 1.7, 1.9$ and $1.10$.

In [21]:
'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'

### Logical operators and expressions

Exercises: $2.1-2.6$

In [1]:
a == 5
print(a = 5)

NameError: name 'a' is not defined

### Collections of elements - iterables

In [14]:
a = 5
b = {1, a, 'abc'}
c = tuple(b)
d = list(c)
#print(b,c,d)
d.append(3)
d.append(4)
print(d)
d[1:4]

[1, 5, 'abc', 3, 4]

[5, 'abc', 3]

In [17]:
dict_courses = {
    'ELMED219':18,
    5:'15',
    'MEDOD2':200
}

dict_courses[5]

'15'

In [22]:
list(range(5,11,2))

[5, 7, 9]

Exercises:

1. Discuss with your neighbour the differences between the four iterables *sets, tuples, lists* and *dictionaries*, and provide an example usecase for each.

### For and while loops

In [23]:
a = list(range(10))
for i in a:
    print(i*2)

0
2
4
6
8
10
12
14
16
18

In [30]:
counter = 0
while counter*2 < 20:
    print(counter * 2)
    counter += 1

0
2
4
6
8
10
12
14
16
18

In [24]:
b = []
for i in a:
    temp = i * 2
    b.append(temp)
b

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
c = [i*2 for i in a]
c

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Exercises:

1. Discuss with your neighbour the differences between a `for` and a `while` loop.

3. Write a program that runs indefinitely.

2. (From [*Automate the boring stuff*](https://automatetheboringstuff.com/#toc)) Write a short program that prints the numbers $1$ to $10$ using a `for` loop. Then write an equivalent program that prints the numbers $1$ to $10$ using a `while loop`.

### If, else and elif sentences

In [34]:
for i in range(100):
    if i % 2 == 0 and i % 5 == 0:
        print(i, "is dividible by 2 and 5")
    elif i % 2 == 0:
        print(i, "is dividible by 2")
    elif i % 5 == 0:
        print(i, "is dividible by 5")
    else:
        print(i,"is not dividible by neither 2 nor 5")

0 is dividible by 2 and 5
1 is not dividible by neither 2 nor 5
2 is dividible by 2
3 is not dividible by neither 2 nor 5
4 is dividible by 2
5 is dividible by 5
6 is dividible by 2
7 is not dividible by neither 2 nor 5
8 is dividible by 2
9 is not dividible by neither 2 nor 5
10 is dividible by 2 and 5
11 is not dividible by neither 2 nor 5
12 is dividible by 2
13 is not dividible by neither 2 nor 5
14 is dividible by 2
15 is dividible by 5
16 is dividible by 2
17 is not dividible by neither 2 nor 5
18 is dividible by 2
19 is not dividible by neither 2 nor 5
20 is dividible by 2 and 5
21 is not dividible by neither 2 nor 5
22 is dividible by 2
23 is not dividible by neither 2 nor 5
24 is dividible by 2
25 is dividible by 5
26 is dividible by 2
27 is not dividible by neither 2 nor 5
28 is dividible by 2
29 is not dividible by neither 2 nor 5
30 is dividible by 2 and 5
31 is not dividible by neither 2 nor 5
32 is dividible by 2
33 is not dividible by neither 2 nor 5
34 is dividible by 2
35 is dividible by 5
36 is dividible by 2
37 is not dividible by neither 2 nor 5
38 is dividible by 2
39 is not dividible by neither 2 nor 5
40 is dividible by 2 and 5
41 is not dividible by neither 2 nor 5
42 is dividible by 2
43 is not dividible by neither 2 nor 5
44 is dividible by 2
45 is dividible by 5
46 is dividible by 2
47 is not dividible by neither 2 nor 5
48 is dividible by 2
49 is not dividible by neither 2 nor 5
50 is dividible by 2 and 5
51 is not dividible by neither 2 nor 5
52 is dividible by 2
53 is not dividible by neither 2 nor 5
54 is dividible by 2
55 is dividible by 5
56 is dividible by 2
57 is not dividible by neither 2 nor 5
58 is dividible by 2
59 is not dividible by neither 2 nor 5
60 is dividible by 2 and 5
61 is not dividible by neither 2 nor 5
62 is dividible by 2
63 is not dividible by neither 2 nor 5
64 is dividible by 2
65 is dividible by 5
66 is dividible by 2
67 is not dividible by neither 2 nor 5
68 is dividible by 2
69 is not dividible by neither 2 nor 5
70 is dividible by 2 and 5
71 is not dividible by neither 2 nor 5
72 is dividible by 2
73 is not dividible by neither 2 nor 5
74 is dividible by 2
75 is dividible by 5
76 is dividible by 2
77 is not dividible by neither 2 nor 5
78 is dividible by 2
79 is not dividible by neither 2 nor 5
80 is dividible by 2 and 5
81 is not dividible by neither 2 nor 5
82 is dividible by 2
83 is not dividible by neither 2 nor 5
84 is dividible by 2
85 is dividible by 5
86 is dividible by 2
87 is not dividible by neither 2 nor 5
88 is dividible by 2
89 is not dividible by neither 2 nor 5
90 is dividible by 2 and 5
91 is not dividible by neither 2 nor 5
92 is dividible by 2
93 is not dividible by neither 2 nor 5
94 is dividible by 2
95 is dividible by 5
96 is dividible by 2
97 is not dividible by neither 2 nor 5
98 is dividible by 2
99 is not dividible by neither 2 nor 5

Exercises:

1. (From [*Automate the boring stuff*](https://automatetheboringstuff.com/#toc)) Explaing the code in exercise $2.8$ with your neighbour.

2. (From [*Automate the boring stuff*](https://automatetheboringstuff.com/#toc)) $2.9$.

3. Write a program that takes an integer $n$ from the user and prints the first $n$ integers if $n$ is an even number. If not, print an error message of your choice.

### Functions

In [35]:
def dividible(n):
    """ Takes an integer n, evaluates whether the first n integers are individually dividible by either 2 or 5.
     Prints the result for each number """
    
    for i in range(n):
        if i % 2 == 0 and i % 5 == 0:
            print(i, "is dividible by 2 and 5")
        elif i % 2 == 0:
            print(i, "is dividible by 2")
        elif i % 5 == 0:
            print(i, "is dividible by 5")
        else:
            print(i,"is not dividible by neither 2 nor 5")

dividible(50)

0 is dividible by 2 and 5
1 is not dividible by neither 2 nor 5
2 is dividible by 2
3 is not dividible by neither 2 nor 5
4 is dividible by 2
5 is dividible by 5
6 is dividible by 2
7 is not dividible by neither 2 nor 5
8 is dividible by 2
9 is not dividible by neither 2 nor 5
10 is dividible by 2 and 5
11 is not dividible by neither 2 nor 5
12 is dividible by 2
13 is not dividible by neither 2 nor 5
14 is dividible by 2
15 is dividible by 5
16 is dividible by 2
17 is not dividible by neither 2 nor 5
18 is dividible by 2
19 is not dividible by neither 2 nor 5
20 is dividible by 2 and 5
21 is not dividible by neither 2 nor 5
22 is dividible by 2
23 is not dividible by neither 2 nor 5
24 is dividible by 2
25 is dividible by 5
26 is dividible by 2
27 is not dividible by neither 2 nor 5
28 is dividible by 2
29 is not dividible by neither 2 nor 5
30 is dividible by 2 and 5
31 is not dividible by neither 2 nor 5
32 is dividible by 2
33 is not dividible by neither 2 nor 5
34 is dividible by 2
35 is dividible by 5
36 is dividible by 2
37 is not dividible by neither 2 nor 5
38 is dividible by 2
39 is not dividible by neither 2 nor 5
40 is dividible by 2 and 5
41 is not dividible by neither 2 nor 5
42 is dividible by 2
43 is not dividible by neither 2 nor 5
44 is dividible by 2
45 is dividible by 5
46 is dividible by 2
47 is not dividible by neither 2 nor 5
48 is dividible by 2
49 is not dividible by neither 2 nor 5

In [36]:
def sum(a, b):
    return a + b

sum(3,5)

8

Exercises:

1. Exercise 11 from INF100 exam 2022.

In [40]:
def count_a(s):
    count = 0
    for c in s:
        if c == "a":
            count = count + 1 # equal to count += 1
    return count

count_a('abcdefgaa')

3